import LinearGradient from react-native-linear-gradient

.App {
  text-align: center;
}

.App-background {
  background-image: url("background.svg");
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-template {
  display: flex;
  border-radius: 5%;
}

.child1 {
  background: rgba(255,255,255,0.5);
  width: 300px;
  height: 700px;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.child2 {
  background: rgba(255,255,255,0.34);
  width: 1090px;
  height: 700px;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.logo-header {
  margin-top: 4rem;
  display: flex;
}

.logo-text {
  font-weight: 700;
}

.catchphrase {
  margin-top: 1rem;
  font-weight: normal;
  font-size: small;
}

.upload-button {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  color: #4F438B;
  font-family: "Roboto", sans-serif;
  font-style: normal;  
  text-align: center;
  font-size: 20px;
  background:rgba(153, 141, 214, 0.25);
  border: none;
  width: 215px;
  height: 50px;
  border-radius: 1rem;
}

.summarize-button {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4F438B;
  font-family: "Roboto", sans-serif;
  font-style: normal;  
  text-align: center;
  font-size: 20px;
  background:rgba(153, 141, 214, 0.25);
  border: none;
  width: 215px;
  height: 50px;
  border-radius: 1rem;
}



.summarize-header {

}

.translate-header {

}
